## Headquater Location for Top 15 H1B Sponsors 2013 -- 2017

In [53]:
import pandas as pd

from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go

**Note**: the schema is not the same across different years. e.g. for 2013's data, there's `lca_case_employer_name` but not `employer_name`

In [54]:
def get_employer_name(col_names):
    if 'employer_name' in col_names:
        employer_name = 'employer_name'
    elif 'lca_case_employer_name' in col_names:
        employer_name = 'lca_case_employer_name'
    else:
        raise ValueError("The DataFrame doesn't have the employer_name")
    return employer_name

In [62]:
def get_topN_employers(data_dir, start_year, end_year, N):
    df_topN = pd.DataFrame()
    for year in range(start_year, end_year+1):
        # Read data file 
        data_file = data_dir + "H-1BVisaApplications-" + str(year) + ".csv"
        df = pd.read_csv(data_file)

        # Create intermediate DataFrame with Top N H-1B sponsors
        employer_name = get_employer_name(df.columns)
        df_topN_year = df.groupby(employer_name).size().reset_index(name="num_applications").sort_values(by = 'num_applications', ascending = False).iloc[0:N,:]
        df_topN_year['year'] = year
        df_topN_year = df_topN_year.rename(index=str, columns={employer_name: "employer_name"})

        # Populate return values
        df_topN = df_topN.append(df_topN_year)
    
    return df_topN

In [63]:
data_dir = "/Users/kliu/Documents/Fun/Python/Enigma/data/"
start_year, end_year = 2013, 2017
N = 15  # Top N H-1B sponsors

df_topN = get_topN_employers(data_dir, start_year, end_year, N)

/Users/kliu/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2850: DtypeWarning:

Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.

/Users/kliu/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2850: DtypeWarning:

Columns (11,12,38) have mixed types. Specify dtype option on import or set low_memory=False.

In [64]:
df_topN

                                         employer_name  num_applications  year
27565                                  INFOSYS LIMITED             32257  2013
54926                TATA CONSULTANCY SERVICES LIMITED              8790  2013
62799                                    WIPRO LIMITED              6734  2013
15476                          DELOITTE CONSULTING LLP              6124  2013
894                                      ACCENTURE LLP              4994  2013
36848                            MICROSOFT CORPORATION              3902  2013
26518                        IBM INDIA PRIVATE LIMITED              3593  2013
32449                 LARSEN & TOUBRO INFOTECH LIMITED              3143  2013
24827                                HCL AMERICA, INC.              3013  2013
18999                           ERNST & YOUNG U.S. LLP              2184  2013
26515                                  IBM CORPORATION              2180  2013
23283                                      GOOGLE INC.              2167  2013
26791                          IGATE TECHNOLOGIES INC.              2059  2013
28157                                INTEL CORPORATION              1947  2013
45796                      QUALCOMM TECHNOLOGIES, INC.              1901  2013
29258                                  INFOSYS LIMITED             23759  2014
58511                TATA CONSULTANCY SERVICES LIMITED             14098  2014
66842                                    WIPRO LIMITED              8365  2014
16455                          DELOITTE CONSULTING LLP              7017  2014
943                                      ACCENTURE LLP              5498  2014
28200                        IBM INDIA PRIVATE LIMITED              5029  2014
26474                                HCL AMERICA, INC.              4749  2014
20098                           ERNST & YOUNG U.S. LLP              3961  2014
34368                 LARSEN & TOUBRO INFOTECH LIMITED              3939  2014
38949                            MICROSOFT CORPORATION              3750  2014
28466                          IGATE TECHNOLOGIES INC.              3124  2014
24828                                      GOOGLE INC.              2951  2014
29858                                INTEL CORPORATION              2506  2014
28195                                  IBM CORPORATION              2457  2014
13169  COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION              2358  2014
...                                                ...               ...   ...
31109                                  INFOSYS LIMITED             25353  2016
10950                            CAPGEMINI AMERICA INC             16725  2016
61768                TATA CONSULTANCY SERVICES LIMITED             13134  2016
70654                                    WIPRO LIMITED             10607  2016
29972                        IBM INDIA PRIVATE LIMITED              9787  2016
1036                                     ACCENTURE LLP              9477  2016
17517                          DELOITTE CONSULTING LLP              7646  2016
61963                    TECH MAHINDRA (AMERICAS),INC.              6746  2016
14028  COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION              5370  2016
41123                            MICROSOFT CORPORATION              5029  2016
28044                                HCL AMERICA, INC.              4931  2016
26308                                      GOOGLE INC.              4785  2016
21448                           ERNST & YOUNG U.S. LLP              4511  2016
29969                                  IBM CORPORATION              2571  2016
3452                              AMAZON CORPORATE LLC              2547  2016
30944                                  INFOSYS LIMITED             20587  2017
60917                TATA CONSULTANCY SERVICES LIMITED             13529  2017
11016                            CAPGEMINI AMERICA INC              9604  2017
29803                        IBM INDIA PRIVATE LIMITED              8734  2017
61112                    TECH MAHINDRA (AMERICAS),INC.              7543  2017
17374                          DELOITTE CONSULTING LLP              7179  2017
1014                                     ACCENTURE LLP              6690  2017
21299                           ERNST & YOUNG U.S. LLP              6096  2017
69522                                    WIPRO LIMITED              5177  2017
26110                                      GOOGLE INC.              5074  2017
40635                            MICROSOFT CORPORATION              5005  2017
27842                                HCL AMERICA, INC.              4263  2017
60439                           SYNTEL CONSULTING INC.              4187  2017
3485                              AMAZON CORPORATE LLC              4165  2017
13947  COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION              2707  2017

[75 rows x 3 columns]

The headquarter information is gathered manually by google search. It would be nice to use Bloomberg API etc.

In [88]:
# NOTE: 
#    - HCL America, Inc. is a US company, however its parent company is based in Noida, India.
#    - CAPGEMINI AMERICA INC, a US company, however its parent company is based in France.
#    - COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION, a US company, but all 3 founders are Indian
#    - SYNTEL CONSULTING INC., a US company, both founders are Indian
#    - IGATE TECHNOLOGIES INC., a US company, bought by French company Capgemini in 2015
#
# The HQ here are the companies' or their parent companies' HQ.


df_sponsor_hq = pd.DataFrame({'employer_name': df_topN['employer_name'].unique()})
dict_hq = {'INFOSYS LIMITED': 'India',
          'TATA CONSULTANCY SERVICES LIMITED': 'India',
          'WIPRO LIMITED': 'India',
          'DELOITTE CONSULTING LLP': 'US',
          'ACCENTURE LLP': 'US',
          'MICROSOFT CORPORATION': 'US',
          'IBM INDIA PRIVATE LIMITED': 'India',
          'LARSEN & TOUBRO INFOTECH LIMITED': 'India',
          'HCL AMERICA, INC.': 'India',
          'ERNST & YOUNG U.S. LLP': 'US',
          'IBM CORPORATION': 'US',
          'GOOGLE INC.': 'US',
          'IGATE TECHNOLOGIES INC.': 'US',
          'INTEL CORPORATION': 'US',
          'QUALCOMM TECHNOLOGIES, INC.': 'US',
          'COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION': 'US',
          'TECH MAHINDRA (AMERICAS),INC.': 'India',
          'CAPGEMINI AMERICA INC': 'France',
          'AMAZON CORPORATE LLC': 'US',
          'SYNTEL CONSULTING INC.': 'US'}
df_sponsor_hq['head_quarter'] = df_sponsor_hq['employer_name'].map(dict_hq)

In [91]:
df_topN = pd.merge(df)

                                      employer_name head_quarter
0                                   INFOSYS LIMITED        India
1                 TATA CONSULTANCY SERVICES LIMITED        India
2                                     WIPRO LIMITED        India
3                           DELOITTE CONSULTING LLP           US
4                                     ACCENTURE LLP           US
5                             MICROSOFT CORPORATION           US
6                         IBM INDIA PRIVATE LIMITED        India
7                  LARSEN & TOUBRO INFOTECH LIMITED        India
8                                 HCL AMERICA, INC.        India
9                            ERNST & YOUNG U.S. LLP           US
10                                  IBM CORPORATION           US
11                                      GOOGLE INC.           US
12                          IGATE TECHNOLOGIES INC.           US
13                                INTEL CORPORATION           US
14                      QUALCOMM TECHNOLOGIES, INC.           US
15  COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION           US
16                    TECH MAHINDRA (AMERICAS),INC.        India
17                            CAPGEMINI AMERICA INC       France
18                             AMAZON CORPORATE LLC           US
19                           SYNTEL CONSULTING INC.           US